* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "RobotoMono Nerd Font Propo";
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  margin-left: 4px;
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 0px 14px;
  margin: 6px 3px;
  color: #ffffff;
}

#workspaces button.active {
  font-weight: bold;
}

#workspaces button:hover {
  font-weight: bold;
  color: #3ded97;
}

#workspaces button.urgent {
  font-weight: bold;
  color: #f38ba8;
}

#cpu,
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray,
#language {
  margin: 6px 0px;
  padding: 0px 12px;
  color: #ffffff;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: rgba(24, 24, 37, 0.7);
}

tooltip label {
  padding: 5px;
}

.modules-left, .modules-center, .modules-right {
  background-color: rgba(24, 24, 37, 0.5);
  border-radius: 8px;
  margin: 4px 12px;
  padding: 2px;
}
