* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Maple Mono NF";
  font-size: 14px;
  color: #dcd7ba;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 0px 14px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  border-bottom: 2px solid #dcd7ba;
}

#workspaces button:hover {
  font-weight: 900;
}

#workspaces button.urgent {
  font-weight: 900;
  color: #ee5396;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-power,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-mouse-battery {
  margin: 4px 10px;
  padding: 0px 0px;
}

#battery.charging,
#battery.plugged,
#battery.warning {
  background-color: inherit;
}

tooltip {
  border-radius: 4px;
  padding: 12px;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}
